---
import { Image } from 'astro:assets'

import reviews from '../data/reviewsData'
const len = reviews.length

import Rating from '../components/Rating.astro'

const images = import.meta.glob('/src/assets/reviews/*.{jpeg,jpg,png,gif}')
---

<div class="relative flex">
	<div class="flex h-full w-full items-center overflow-hidden">
		<div id="reviews-carousel" class="flex h-fit gap-6 transition-all duration-300 ease-out">
			{
				reviews.map((review) => (
					<article class="card flex w-[300px] flex-col space-y-6 rounded-2xl border px-6 py-6 md:w-[365px]">
						<div class="flex flex-none">
							<Rating rating={review.rating} />
						</div>
						<div class="grow">
							<p class="text-justify">{review.text}</p>
						</div>
						<div class="flex flex-none items-center space-x-3">
							<div class="h-[2rem] w-[2rem] overflow-hidden rounded-full lg:h-[3rem] lg:w-[3rem] xl:h-[4rem] xl:w-[4rem]">
								<Image
									src={images['/src/assets' + review.image]()}
									alt={review.name}
									format="avif"
									class="h-full w-full object-cover"
								/>
							</div>
							<a
								href={review.link}
								class="text-purple-dark underline"
								aria-label="Open profile of client"
								target="_blank"
							>
								<span>{review.name}</span>
							</a>
						</div>
					</article>
				))
			}
		</div>
	</div>

	<button id="carousel-arrow-left" class="disabledContent arrow arrow-left" aria-label="Arrow Left"
		>&#10140;</button
	>
	<button id="carousel-arrow-right" class="arrow arrow-right" aria-label="Arrow Right"
		>&#10140;</button
	>
</div>

<style>
	.card {
		box-shadow:
			0 10px 15px -3px rgba(0, 0, 0, 0.1),
			0 4px 6px -2px rgba(0, 0, 0, 0.05);
		overflow: hidden;
	}

	.arrow {
		position: absolute;
		top: calc(50% - 18px);
		width: 40px;
		height: 40px;
		color: var(--color-purple-dark);
		border: 1px solid var(--color-purple-dark);
		border-radius: 200px;
		font-size: 20px;
		font-weight: bold;
		transition: all 300ms cubic-bezier(0, 0, 0.2, 1);
	}

	.arrow-left {
		transform: scaleX(-1);
		left: -30px;
		@media (width > 540px) {
			left: -50px;
		}
		@media (width > 767px) {
			left: -40px;
		}
		@media (width > 1500px) {
			left: -60px;
		}
	}
	.arrow-right {
		right: -30px;
		@media (width > 540px) {
			right: -50px;
		}
		@media (width > 767px) {
			right: -40px;
		}
		@media (width > 1500px) {
			right: -60px;
		}
	}

	.disabledContent {
		pointer-events: none;
		color: var(--color-purple-light);
	}
</style>

<script define:vars={{ len }}>
	let slideIndex = 0
	let shift = 20
	let limit_right = len - 1

	const calcShift = () => {
		if (screen.width > 1199) {
			shift = 25
		}
		if (screen.width > 1439) {
			limit_right = len - 3
		}
	}
	calcShift()
	window.addEventListener('resize', calcShift)

	function changeSlide(i) {
		slideIndex = i

		document.querySelector('#carousel-arrow-left').classList.remove('disabledContent')
		document.querySelector('#carousel-arrow-right').classList.remove('disabledContent')
		if (slideIndex === 0) {
			document.querySelector('#carousel-arrow-left').classList.add('disabledContent')
		}
		if (slideIndex === limit_right) {
			document.querySelector('#carousel-arrow-right').classList.add('disabledContent')
		}

		document.querySelector('#reviews-carousel').style.transform =
			`translate(-${shift * slideIndex}rem)`
	}

	function moveSliderLeft() {
		slideIndex--
		changeSlide(slideIndex)
	}

	function moveSliderRight() {
		slideIndex++
		changeSlide(slideIndex)
	}

	document.querySelector('#carousel-arrow-left').addEventListener('click', moveSliderLeft)
	document.querySelector('#carousel-arrow-right').addEventListener('click', moveSliderRight)
</script>
